.icon-48-trademarks {
      background-image: url(../images/l_trademarks.png);
      padding-left:60px!important;
}

.icon-48-trademark {
      background-image: url(../images/l_trademarks.png);
      padding-left:60px!important;
}

